html{
    font-size: 62.5%; //~10/16px, where 16px is a default font size of the browser
}

html, body {
    height: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
img{
    max-width: 100%;
}

