// scss-docs-start theme-color-variables
$primary:       #b33e4e;
$btn-primary: #b33e4e;

// scss-docs-start gray-color-variables
$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;
 
// scss-docs-end theme-color-variables


// Typography

// stylelint-enable value-keyword-case
$font-family-base:            'Lato', sans-serif;
// scss-docs-start headings-variables
$headings-font-family:        'Oswald', sans-serif;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-base:              1.6rem ; // Assumes the browser default, typically `16px`



$transition-default: all 0.5s ease;